<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>맥도날드 키오스크</title>
    <link rel="stylesheet" href="style3.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <script type="text/javascript">

    </script>
  </head>
  <body>
    <div class="banner">
      <p>로고나 브랜드명</p>
    </div>
    <div class="btn"><button>◀</button></div>
    <nav>
    
    <div id=div_01>
    <div class="menu">
      <ul class="menu_list" id="menuList">
        <li>
          <div class="photo">
            <img src="debit-card.png" />
          </div>
          <div class="menu_name">
            <a href="index.html" clas="menu_name">카드 결제</a>
          </div>
        </li>
        <li>
          <div class="photo">
            <img src="cash-payment.png" />
          </div>
          <div class="menu_name">
            <a href="index.html" clas="menu_name">현금 결제</a>
          </div>
        </li>

      </ul>
    </div>
  </div>
  </body>
</html>
