{%  load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>맥도날드 키오스크</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <script type="text/javascript">

    </script>
  </head>
  <body>
    <div class="banner">
      <p>로고나 브랜드명</p>
    </div>
    <nav>
      <ul class="category">
        <li><a href="#">세트메뉴</a></li>
        <li><a href="#">단품</a></li>
        <li><a href="#">사이드</a></li>
        <li><a href="#">디저트</a></li>
        <li><a href="#">음료</a></li>
      </ul>
    </nav>
    <div id=div_01>
    <div class="menu">
      <ul class="menu_list" id="menuList">
        <li>
          <div class="photo">
            <img src="../static/images/1583727633823.png" />
          </div>
          <div class="menu_name">
            <a href="#" clas="menu_name">맥치킨 모짜렐라</a>
          </div>
        </li>
        <li>
          <div class="photo">
            <img src="../static/images/1583727633823.png" />
          </div>
          <div class="menu_name">
            <a href="#" clas="menu_name">맥치킨 모짜렐라</a>
          </div>
        </li>
        <li>
          <div class="photo">
            <img src="../static/images/1583727633823.png" />
          </div>
          <div class="menu_name">
            <a href="#" clas="menu_name">맥치킨 모짜렐라</a>
          </div>
        </li>
        <li>
          <div class="photo">
            <img src="../static/images/1583727633823.png" />
          </div>
          <div class="menu_name">
            <a href="#" clas="menu_name">맥치킨 모짜렐라</a>
          </div>
        </li>
        <li>
          <div class="photo">
            <img src="../static/images/1583727633823.png" />
          </div>
          <div class="menu_name">
            <a href="#" clas="menu_name">맥치킨 모짜렐라</a>
          </div>
        </li>
        <li>
          <div class="photo">
            <img src="../static/images/1583727633823.png" />
          </div>
          <div class="menu_name">
            <a href="#" clas="menu_name">맥치킨 모짜렐라</a>
          </div>
        </li>
        <li>
          <div class="photo">
            <img src="../static/images/1583727633823.png" />
          </div>
          <div class="menu_name">
            <a href="#" clas="menu_name">맥치킨 모짜렐라</a>
          </div>
        </li>
        <li>
          <div class="photo">
            <img src="../static/images/1583727633823.png" />
          </div>
          <div class="menu_name">
            <a href="#" clas="menu_name">맥치킨 모짜렐라</a>
          </div>
        </li>
        <li>
          <div class="photo">
            <img src="../static/images/1583727633823.png" />
          </div>
          <div class="menu_name">
            <a href="#" clas="menu_name">맥치킨 모짜렐라</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
    <div class="basket">
      <p>장바구니</p>
    </div>
  </body>
</html>
